.product-card {
  width: 250px;
  max-height: 400px;
  border: 0.5px solid rgb(218, 216, 216);
  background-color: #fff;

  a {
    color: black;
  }

  transition: all 0.2s ease;

  &:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  }

  .prod-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    padding: 3px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .prod-details {
    line-height: 1.5;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // background-color: var(--card);
    .head-category {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;
      overflow: hidden;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;
      color: var(--sub-txt);
      // color: #192a56;
    }
    p {
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      color: black;

      overflow: hidden;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    h4 {
      font-size: 12px;
      font-weight: 500;
    }
    .rating {
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--rating);
      font-weight: 400;
      font-size: 12.4px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 150px;
    max-height: 380px;
    border: 1px solid rgb(218, 216, 216);

    a {
      color: black;
    }

    transition: all 0.2s ease;

    &:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    }

    .prod-img {
      width: 100%;
      height: 200px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .prod-details {
      line-height: 1.5;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .head-category {
        font-size: 8px;
      }
      p {
        font-size: 12px;
      }
      h4 {
        font-size: 11.8px;
        font-weight: 500;
      }
      .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 500;
        font-size: 10.5px;
      }
    }
  }
}
