.wrapper-container {
  width: 80%;
  margin: 5rem auto;

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 1rem 0;

    font-weight: 500;
  }
  .categoryy {
    display: flex;
    gap: 5px;
    display: none;
    .category-btn {
      background-color: var(--cart-btn);
      color: white;
      padding: 8px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .prod-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2.5rem;
    padding: 1.5rem 0;
    background-color: #f5f5f6;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-container {
    width: 90%;
    h3{
      font-size: 1.2rem;
    }
    .prod-section {
      display: flex;
      justify-content: center;
      gap: 1.2rem;
    }
    .genre {
      .genre-btn {
        padding: 6px;
      }
    }
  }
}
