.card-wrapper {
  width: 85%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 20px;
  background-color: #f5f5f6;
  padding: 0.8rem;
  min-height: 22rem;
  .empty {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 20px;
      margin: 0.8rem;
    }
    a {
      color: black;
      text-decoration: underline;
    }
  }
  .cart-items {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .cart-card {
      padding: 10px;
      border: 0.8px solid var(--border);
      display: flex;
      align-items: center;
      width: 100%;
      background-color: white;
      transition: all 0.2s ease;

      &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      }
      img {
        width: 120px;
        height: 150px;
        margin: auto;
        object-fit: contain;
        margin-right: 2px;
      }
      .details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        padding: 0 0.6rem;
        .details-price {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 8px;
          p {
            font-weight: 500;
            font-size: 15px;
          }
          h5 {
            font-weight: 500;
          }
        }
        .quantity-btn {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h5 {
            font-size: 14px;
            font-weight: 500;
          }
          .btn-btn {
            display: flex;
            align-items: center;
            p {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: black;
              color: white;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              text-align: center;
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid black;
              font-size: 20px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              text-align: center;
            }
          }
        }
        button {
          margin: 0.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          border: 1px solid var(--cart-btn);
          font-size: 20px;
          color: var(--cart-btn);
          width: 25px;
          height: 25px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
  .cart-total-price {
    flex: 1;
    width: 100%;
    background-color: white;
    position: relative;
    padding: 0.8rem;
    height: 30vh;
    line-height: 2;
    border: 0.8px solid rgb(193, 193, 193);
    & > h4 {
      text-transform: uppercase;
    }
    h3 {
      font-weight: 500;
      text-decoration: underline;
      margin-bottom: 10px;
    }
    .price-count {
      display: flex;
      flex-direction: column;
      h4 {
        font-weight: 500;
      }
      .order-btn {
        margin-top: 5px;
        bottom: 0.8rem;
        padding: .5rem;
        font-weight: 500;
        font-size: 17px;
        background-color: var(--cart-btn);
        color: white;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}

// responsive:
@media screen and (max-width: 768px) {
  .card-wrapper {
    flex-direction: column-reverse;
    padding: 8px;
    padding-bottom: 25px;
    margin-top: 2.5rem;

    .cart-items {
      .cart-card {
        border: 0.8px solid rgb(193, 193, 193);
        display: flex;
        align-items: center;
        width: 100%;
        background-color: white;
        img {
          width: 100px;
          height: 120px;
          object-fit: contain;
        }
        .details {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          gap: 5px;
          padding: 0 0.6rem;
          .details-price {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            p {
              font-weight: 500;
              font-size: 13px;
            }
            h5 {
              font-weight: 400;
              font-size: 10px;
            }
          }
          .quantity-btn {
            width: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            h5 {
              font-size: 12px;
            }
            .btn-btn {
              justify-content: space-around;
              p {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                background-color: black;
                color: white;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                text-align: center;
              }
              button {
                font-size: 18px;
                width: 23px;
                height: 23px;
              }
            }
          }
          button {
            margin: 0.5rem;
            font-size: 18px;
            width: 23px;
            height: 23px;
          }
        }
      }
    }
    .cart-total-price {
      flex: 1;
      width: 100%;
      background-color: white;
      position: relative;
      padding: 0.8rem;
      height: 30vh;
      line-height: 2;
      border: 0.8px solid rgb(193, 193, 193);
      & > h4 {
        text-transform: uppercase;
      }
      h3 {
        font-weight: 500;
        text-decoration: underline;
        margin-bottom: 10px;
      }
      .price-count {
        display: flex;
        flex-direction: column;
        h4 {
          font-weight: 500;
        }
        .order-btn {
          // width: 100%;
          // position: absolute;
          margin-top: 5px;
          bottom: 0.8rem;
          padding: 0.8rem 1rem;
          font-weight: 500;
          font-size: 15px;
          background-color: var(--cart-btn);
          color: white;
          cursor: pointer;
          text-transform: uppercase;
        }
      }
    }
  }
}
