.footer-container {
  width: 85%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  padding: 1.2rem 0;
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0.8rem;
    text-decoration: underline;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    li {
      font-weight: 300;
    }
  }
  .boxOne {
    flex: 1;
  }
  .boxTwo {
    flex: 1;
  }
  .boxThree {
    flex: 1;
  }
  .boxFour {
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
    h3 {
      font-size: 17px;
      margin-bottom: 0.4rem;
    }
    ul {
      gap: 5px;
      li{
        font-size: 15px;
      }
    }
  }
}
