@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
  --border: rgb(205, 201, 201);
  --navbar:#fff;
  --hero-txt:#000;
  --body:#fff;
  --card:#fbf7f7;
  --count:#ff5857;
  --cart-btn:#fd164c;
  --rating:#dd800e;
  --sub-txt:#ff3838;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 0rem;
}
::selection {
  background-color: var(--cart-btn);
  color: white;
}