.brands-newsLetter-container {
  width: 100%;
  margin: auto;
  .brands-wrapper {
    width: 90%;
    margin: auto;

    h3 {
      padding: 1rem 0;
      font-weight: 500;
      font-size: 1.5rem;
      text-align: center;
      margin: 1rem;
    }
    .logo-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
  .news-letter {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    height: 18vh;
    background-color: var(--bg);
    .news-wrapper {
      width: 85%;
      margin: auto;
      display: flex;
      align-items: center;
      .news-left {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;

        .text {
          p {
            font-weight: 300;
          }
          h3 {
            font-weight: 500;
          }
        }
        .subs {
          display: flex;
          align-items: center;
          justify-content: center;
          input {
            padding: 0.5rem 0.2rem;
            width: 350px;
          }
          button {
            padding: 0.5rem 0.7rem;
            background-color: black;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
          }
        }
      }
      .news-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .icons {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .brands-newsLetter-container {
    .brands-wrapper {
      width: 90%;
      margin: auto;

      h3 {
        font-size: 1.2rem;
      }
      .logo-box {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
    .news-letter {
      width: 100%;
      .news-wrapper {
        width: 90%;
        gap: 20px;
        flex-direction: column;
        .news-left {
          gap: 1rem;

          .text {
            p {
              font-weight: 300;
            }
            h3 {
              font-weight: 500;
            }
          }
          .subs {
            input {
              width: 100%;
            }
          }
        }
        .news-right {
          display: flex;
          align-items: center;
          justify-content: center;
          .icons {
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
      }
    }
  }
}
