.prod-details-container {
  margin-top: 5rem;
  margin-bottom: 4rem;
  width: 100%;
  // margin: auto;

  .wrapper {
    width: 80%;
    margin: auto;

    display: flex;
    // align-items: center;
    gap: 10px;

    .details-left {
      flex: 1;
      display: flex;
      justify-content: center;
      background-color: var(--bg);
      padding: .8rem;
      max-height: 35rem;
      overflow: hidden;
      img {
        width: 380px;
        object-fit: contain;
      }
    }
    .details-right {
      flex: 1;
      padding: 0 1rem ;
      line-height: 1.2;
      .details-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3{
            font-size: 1.3rem;
            font-weight: 500;
        }
        h4{
            margin-top: .8rem;
            font-weight: 500;
        }
        button {
            width: fit-content;
          margin: 1.3rem 0;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0.5rem 0.8rem;
          background-color: black;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}


//responsive:
@media screen and (max-width: 768px) {
    .prod-details-container {
        margin-top: 3rem;
        margin-bottom: 5rem;
      
        .wrapper {
          width: 90%;
          gap: 20px;
          flex-direction: column;
      
          .details-left {
            padding: .6rem;
            img {
              width: 250px;
            }
          }
          .details-right {
            padding: 0 ;
            .details-info {
              h2{
                  font-size: 21px;
              }
              h3{
                  font-size: 1.1rem;
                  font-weight: 500;
              }
              h4{
                  margin-top: .8rem;
                  font-weight: 500;
              }
              p{
                font-size: 12px;
              }
              button {
                  width: fit-content;
              }
            }
          }
        }
      }

}
