.prod-details-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 100%;

  // height: 420px;

  .wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 10px;

    .details-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-height: 35rem;
      overflow: hidden;
      width: 300px;
      gap: 8px;
      .prod-image {
        display: flex;
        justify-content: center;
        border: 1px solid rgb(218, 216, 216);
        width: 100%;
        img {
          width: 400px;
          height: 400px;
          object-fit: contain;
          overflow: hidden;
        }
      }
      .other-img {
        display: flex;
        gap: 5px;
        overflow: hidden;
        button {
          background-color: white;
          border: 1px solid rgb(218, 216, 216);
          cursor: pointer;
          overflow: hidden;
          img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            overflow: hidden;
          }
        }
      }
    }
    .details-right {
      flex: 1;
      padding: 0 1rem;
      line-height: 1.2;
      .details-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .head-category {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 10px;
          overflow: hidden;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
          color: var(--sub-txt);
        }
        h2 {
          font-weight: 500;
        }
        .para {
          font-weight: 400;
          color: rgb(92, 91, 91);
        }
        .rating {
          display: flex;
          align-items: center;
          gap: 4px;
          font-weight: 400;
          font-size: 13px;
          background-color: var(--rating);
          width: fit-content;
          color: white;
          padding: 5px;
        }
        h3 {
          font-size: 1.3rem;
          font-weight: 500;
        }
        h4 {
          margin-top: 0.8rem;
          font-weight: 500;
        }
        button {
          width: fit-content;
          margin: 1.3rem 0;
          display: flex;
          align-items: center;
          gap: 10px;
          padding:.6rem .8rem;
          background-color: var(--cart-btn);
          color: white;
          cursor: pointer;
          a {
            color: white;
          }
        }
      }
    }
  }
}

//responsive:
@media screen and (max-width: 768px) {
  .prod-details-container {
    margin-top: 2.5rem;
    margin-bottom: 5rem;

    .wrapper {
      width: 90%;
      gap: 20px;
      flex-direction: column;

      .details-left {
        justify-content: flex-start;
        max-height: 35rem;
        overflow: hidden;
        width: 100%;
        .prod-image {
          display: flex;
          justify-content: center;
          border: 1px solid rgb(218, 216, 216);
          width: 100%;
          img {
            width: 380px;
            height: 380px;
            object-fit: contain;
            overflow: hidden;
          }
        }
        .other-img {
          button {
            background-color: white;
            border: 1px solid rgb(218, 216, 216);
            cursor: pointer;
            overflow: hidden;
            img {
              width: 100px;
              height: 100px;
              object-fit: contain;
              overflow: hidden;
            }
          }
        }
      }
      .details-right {
        padding: 0;
        .details-info {
          position: relative;
          width: 100%;
          h2 {
            font-size: 21px;
          }
          h3 {
            font-size: 1.1rem;
            font-weight: 500;
          }
          h4 {
            margin-top: 0.8rem;
            font-weight: 500;
          }
          p {
            font-size: 12px;
          }
          button {
            width: 100%;
            position: sticky;
            bottom: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .7rem;
            // left: 50%;
            // transform: translateX(-50%);
          }
        }
      }
    }
  }
}
